.rename_result {
  height: 100%;
  width: 100%;

  overflow: auto;

  border-radius: 1rem;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.2);

  background-color: var(--background-light);
  padding: 1rem;
}
