.dropzone {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;

  border: solid 2px var(--text-secondary);

  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.2);

  background-color: var(--bg-darker);
  padding: 2rem;

  .dropzoneCenter {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
      width: 5rem;

      & > * {
        fill: var(--text-secondary);
      }

      .iconArrow {
        animation: moveUpAndDown 3s ease-in-out infinite;
      }
    }
    p {
      text-align: center;
      color: var(--text-secondary);

      strong {
        display: block;
        margin-bottom: 0.5rem;
      }

      font-size: 2.2rem;
    }
  }
}

@keyframes moveUpAndDown {
  0% {
    transform: translateY(-0.5rem);
  }
  50% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(-0.5rem);
  }
}
