.settings {
  display: flex;
  height: 85vh;
  width: 100%;

  .core {
    padding: 2rem;
    width: 100%;

    h1 {
      margin-bottom: 2rem;
      font-size: 3rem;
    }
  }

  .form {
    width: 100%;
    padding: 2rem 0;

    & .formGroup {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;

      input {
        max-width: 70%;
        flex-grow: 1;
        font-size: 1.5rem;
        padding: 0.25rem 1rem;
      }

      label {
        margin-right: 2rem;
        font-size: 1.4rem;
      }

      button {
        min-width: 5rem;
      }
    }
  }
}
